## Should this Marvel Character have Blue Eyes?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../input/marvel-comics-character-dataset - marvel-wikia-data.csv')
df.head()

,id,name,identity,alignment,orientation,status,appearances,introduced,introduced_month,eyes,hair,gender
0,461528,Bardak,single,bad,straight,dead,1.0,1939.0,Dec.,NaN,brown,male
1,657451,Bends (Masked Raider),single,bad,straight,dead,1.0,1939.0,Oct.,NaN,NaN,male
2,437129,Blackie Ross,single,bad,straight,alive,1.0,1939.0,Dec.,NaN,black,male
3,642971,Bleck,single,neutral,straight,dead,1.0,1939.0,Oct.,NaN,NaN,male
4,437029,Cal Brunder,single,bad,straight,alive,1.0,1939.0,Oct.,NaN,NaN,male

In [3]:
df[df['eyes'] == 'blue'].head()

,id,name,identity,alignment,orientation,status,appearances,introduced,introduced_month,eyes,hair,gender
76,437867,Diane Carson,public,good,straight,alive,1.0,1940.0,Jan.,blue,blond,female
727,495227,Hercules (Captain America Past Life),secret,good,straight,alive,1.0,1944.0,May.,blue,blond,male
855,708966,Nick Finelli,public,bad,straight,alive,1.0,1945.0,Sep.,blue,black,male
859,505245,Percy Walker,public,good,straight,alive,1.0,1945.0,Jan.,blue,blond,male
885,754718,Arch Murdock,single,bad,straight,alive,1.0,1946.0,Dec.,blue,red,male

In [8]:
len(df[df['eyes'].isnull()])

9767

In [9]:
len(df[df['eyes'].notnull()])

6609

In [7]:
df.groupby(['eyes'])['id'].count()

eyes
amber                10
black               555
black eyeballs        3
blue               1962
brown              1924
compound              1
gold                 14
green               613
grey                 95
hazel                76
magenta               2
multiple              7
no                    7
one eye              21
orange               25
pink                 21
purple               31
red                 508
silver               12
variable             49
violet               11
white               400
yellow              256
yellow eyeballs       6
Name: id, dtype: int64

In [ ]:
# code for blue and not blue

In [ ]:
# distributions and sampling

In [ ]:
# correlation matrices

In [ ]:
# feature engineering

In [ ]:
#split into training, test, validation sets

In [ ]:
# baseline ML algorithm

In [ ]:
# test various ML for best RSME or ROC_AUC

In [ ]:
# pick best ML algorithm and code for deployment

In [ ]:
# flask and dockerize code for a fun web app or combine with other code for a fun API